<div class="col-md-6 user-container">
  <h2 class="text-center">Crear Evento</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name_event">Nombre</label>
      <input type="text" formControlName="name_event" placeholder="Nombre del evento" name="name_event" class="form-control" id="name_event">
    </div>

    <div class="form-group">
      <label for="type_event">Tipo</label>
      <select formControlName="type_event" placeholder="Seleccione" name="type_event" class="form-control" id="type_event">
        <option value="Curso">Curso</option>
        <option value="Conferencia">Conferencia</option>
        <option value="Seminario">Seminario</option>
        <option value="Congreso">Congreso</option>
      </select>
    </div>

    <div class="form-group">
      <label for="date_event">Fecha</label>
      <input formControlName="date_event" placeholder="AAAA-MM-DD" name="date_event" class="form-control" id="date_event">
    </div>

    <button class="btn btn-success">Agregar</button>
  </form>
</div>
